extends main

block javascripts

block stylesheets

block content
  //Main hero unit for a primary marketing message or call to action
  div(class="hero-unit")
    h1 Cue the TV
    p Learn more about the shows you love by paring your connected TV with another device. To get started, simply visit this website on your smart TV and your mobile device.
    p
      a(href="/tv", class="btn btn-primary btn-large") Watch &raquo;

  //Example row of columns
  div(class="row")
    div(class="span3")
      h2 Audience
      ul
        li Second screen consumers
        li Social TV viewers
        li Internet TV users
        li Interactive Producers
        li Transmedia academics
      
    div(class="span3")
      h2 Strategy
      p Present a second screen experience using rapid technologies (like HTML, CSS and Javascript) to help producers better understand new opportunities.
    
    
    div(class="span3")
      h2 Objective
      p Through social technology and second screen thinking, new opportunities for rich, interactive storytelling can create new ways to engage audiences online.
    
    div(class="span3")
      h2 Tools
      ul  
        li: a(href="http://nodejs.org/", target="_new") NodeJS
        li: a(href="http://expressjs.com/", target="_new") ExpressJS
        li: a(href="http://socket.io/", target="_new") Socket.io
        li: a(href="https://github.com/remy/nodemon", target="_new") Nodemon
        li: a(href="http://twitter.github.com/bootstrap/", target="_new") Twitter Bootstrap
        li: a(href="http://addyosmani.github.com/jquery-ui-bootstrap/", target="_new") jQuery UI Bootstrap
        li: a(href="https://developers.google.com/youtube/v3/", target="_new") YouTube API v3