extends main

block javascripts
  script(type="text/javascript", charset="utf-8")
    $(document).ready(function(){
      var data = !{cue_points};
      function setData( array ){
        var arr = array;
        getData = function() {
          return arr;
        }	
       }
      setData( data );
      $.getScript( "/js/remote.js", function(e){
        //updateAdQueue( data )
      });
    });

block stylesheets
  //jQuery UI 
  link(rel="stylesheet", type="text/css", media="screen", href="/css/custom-theme/jquery-ui-1.8.16.custom.css")
  link(rel="stylesheet", type="text/css", media="screen", href="/css/custom-theme/jquery.ui.1.8.16.ie.css")

block content
  .form-signin-heading
    h3 #{results.title}
    .cue      